@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-secondary {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

.page-header {
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
}

.main-index {
  color: #333333;
  background-color: #fff;
  background-image: url("../images/background/bg-header.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.strong {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}

.reasons-title,
.advantages-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-number,
.reasons-description,
.advantages-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.reasons-item-1,
.reasons-item-2 {
  color: #ffffff;
  background-color: #83b3d3;
}

.reasons-item-3,
.reasons-item-5 {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item-4 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-1,
.advantages-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotels-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-description {
  font-size: 22px;
  line-height: 26px;
}

.newsletter {
  color: #000000;
  background-color: #fff;
  background-image: url("../images/background/bg-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.page-footer {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.main-inner {
  color: #333333;
  background-color: #ffffff;
}

.catalog-header {
  color: #ffffff;
  background-image: url("../images/background/bg-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  color: #ffffff;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
}

.catalog {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-card-title {
  color: #000000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.hotel-card-link {
  color: #ffffff;
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-card-description {
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-button {
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-card-button-active {
  color: #ffffff;
  background-color: #7db54f;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.rating-area {
  color: #333333;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.button-show-more {
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.pagination-link {
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

.pagination-current {
  color: #333333;
  background-color: #f2f2f2;
}

.newsletter-catalog {
  color: #000000;
  background-color: #fff;
  text-align: center;
}

.newsletter-catalog-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-catalog-description {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}
