@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1280px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.button-filter {
  color: #ffffff;
  background-color: #83b3d3;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 35px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-filter:hover {
  background-color: #68a2ca;
}

.button-filter:focus {
  outline: 3px solid #ffffff;
}

.button-filter:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-filter-secondary {
  color: #ffffff;
  background-color: transparent;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 15px 0 0;
  padding: 4px 13px;
}

.button-filter-secondary:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-filter-secondary:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.button-filter-secondary:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button {
  color: #ffffff;
  background-color: #83b3d3;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 17px 34px;
  border-radius: 0 10px 10px 0;
  border: none;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus {
  outline: 3px solid #756257;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-all {
  display: inline-block;
  color: #ffffff;
  background-color: #756257;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 150px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button-all:hover {
  background-color: #615048;
}

.button-all:focus {
  outline: 3px solid #83b3d3;
}

.button-all:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-header {
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
  margin-bottom: -15px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  min-height: 65px;
}

.navigation-user {
  display: flex;
  justify-content: end;
  max-width: 310px;
  margin-left: auto;
  padding: 0;
}

.navigation-user .navigation-link-user {
  min-width: 19px;
  min-height: 19px;
}

.navigation-link {
  position: relative;
  display: block;
  margin: 0 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-current::before {
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.badge {
  text-align: center;
  letter-spacing: -0.1em;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 14px;
  position: absolute;
  background-color: #7db550;
  color: #ffffff;
  width: 20px;
  left: 24px;
  top: 15px;
  border-radius: 50%;
  padding: 3px 0;
}

.navigation-link-button {
  display: inline-block;
  color: #ffffff;
  background-color: #756257;
  padding: 9px 34px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
}

.navigation-link-button:hover {
  background-color: #615048;
}

.navigation-link-button:focus {
  outline: 3px solid #83b3d3;
}

.navigation-link-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-user {
  position: relative;
  display: block;
  padding: 24px 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.footer-social-link .navigation-icon {
  fill: #83b3d3;
}

.navigation-link-user:hover .navigation-icon {
  fill: #756257;
}

.navigation-link-user:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.sedona-description {
  padding-top: 63px;
  padding-bottom: 80px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.main-header {
  padding-top: 51px;
  padding-bottom: 82px;
  color: #333333;
  background-color: #333333;
  background-image: url("../images/background/bg-header.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.logo {
  display: block;
  margin: 0 auto;
}

.strong-title {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-title {
  margin-top: 31px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reasons-list-main {
  display: flex;
  flex-wrap: wrap;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reasons-image-wrapper {
  width: 800px;
  min-height: 384px;
}

.advantages-title,
.reasons-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-title {
  margin-top: 98px;
  margin-bottom: 25px;
}

.advantages-title {
  color: #000000;
  margin-top: 184px;
  margin-bottom: 20px;
}

.reasons-title-last {
  color: #000000;
}

.reasons-number,
.reasons-description,
.advantages-description {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.reasons-description {
  margin-top: 30px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-description {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-item,
.reasons-item {
  width: 400px;
  min-height: 384px;
}

.advantages-item {
  background-repeat: no-repeat;
  background-position: center 82px;
  background-size: 80px 80px;
}

.advatages-house {
  background-image: url("../images/feature/housing.svg");
}

.advatages-food {
  background-image: url("../images/feature/eating.svg");
}

.advatages-souvenirs {
  background-image: url("../images/feature/souvenir.svg");
}

.reasons-foto {
  display: block;
}

.reasons-item:nth-child(-n + 2) {
  color: #ffffff;
  background-color: #83b3d3;
}

.reasons-item:nth-child(2n + 3),
.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.hotels {
  padding: 92px 0;
}

.hotels-title {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0 240px;
}

.hotels-description {
  margin: 29px 0 56px;
  font-size: 22px;
  line-height: 26px;
  padding: 0 240px;
}

.newsletter {
  padding: 94px 0;
  color: #000000;
  background-color: #333333;
  background-image: url("../images/background/bg-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 29px 0 46px;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 48px 25px 60px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  background-color: #ffffff;
}

.footer-social {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  margin-right: 8px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contact-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 361px;
  height: 70px;
  border-radius: 10px;
  border: 3px solid transparent;
  margin-left: 34px;
}

.footer-contact-tel:hover {
  color: #756257;
}

.footer-contact-tel:focus {
  border: 3px solid #83b3d3;
}

.footer-contact-tel:active {
  color: rgba(117, 98, 87, 0.3);
}

.footer-social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 3px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.footer-social-link:hover .navigation-icon {
  fill: #68a2ca;
}

.footer-social-link:focus {
  border: 3px solid #83b3d3;
}

.footer-social-link:active .navigation-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.logo-htmlacademy {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-left: 53px;
  width: 160px;
  height: 70px;
  border-radius: 10px;
  border: 3px solid transparent;
}

.footer-logo {
  fill: #000000;
}

.logo-htmlacademy:hover .footer-logo {
  fill: #756257;
}

.logo-htmlacademy:focus {
  border-color: #83b3d3;
}

.logo-htmlacademy:active .footer-logo {
  fill: rgba(117, 98, 87, 0.3);
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.main-inner {
  color: #333333;
  background-color: #ffffff;
}

.catalog-header {
  padding: 32px 72px 70px;
  margin-bottom: 43px;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/background/bg-catalog.jpg");
  /* background-size: 100% auto; */
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: -7px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 41px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 3px solid transparent;
  outline-offset: -3px;
  border-radius: 4px;
  cursor: pointer;
  padding: 3px 8px;
}

.breadcrumbs-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: 3px solid transparent;
  outline-offset: -3px;
  border-radius: 4px;
  margin-left: -6px;
  cursor: pointer;
  padding: 7px 8px 8px;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.breadcrumbs-link-icon:hover .breadcrumbs-icon {
  opacity: 60%;
}

.breadcrumbs-link-icon:focus {
  outline: 3px solid #83b3d3;
}

.breadcrumbs-link-icon:active .breadcrumbs-icon {
  opacity: 30%;
}

.breadcrumbs-icon-nav {
  padding: 0 0 3px;
}

.breadcrumbs-item {
  margin-right: 3px;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-info {
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}

.catalog-info-display {
  display: flex;
  margin-left: 73px;
}

.button-light {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 48px;
  height: 48px;
  outline: 2px solid #e6e6e6;
  outline-offset: -2px;
  border-radius: 4px;
  margin-left: 8px;
}

.button-light:hover {
  outline: 2px solid #83b3d3;
  outline-offset: -2px;
}

.button-light:focus {
  outline: 2px solid #83b3d3;
  outline-offset: -2px;
}

.button-light-current {
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.hotel-card-stars {
  display: flex;
}

.hotel-card-star {
  margin-right: 7px;
}

.pagination-container {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 73px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 14px 0;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  outline: 3px solid #756257;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotels-on-page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.hotels-on-page label {
  font-size: 18px;
  line-height: 23px;
}

.pagination-current {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 14px 0;
  background-color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  color: #333333;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.newsletter-catalog {
  margin-bottom: 140px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.newsletter-catalog-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.newsletter-catalog-title {
  margin: 0 0 46px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-catalog-description {
  margin: 0 0 46px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.catalog-filter {
  display: flex;
}

.filter-button {
  display: flex;
  flex-direction: column;
  margin-left: 81px;
  margin-top: 60px;
  text-align: center;
  align-items: center;
}

.filter-price {
  margin-left: 167px;
  width: 287px;
}

.filter-type-of-hotel {
  margin-left: 75px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.hotel-card {
  padding: 20px;
}

.hotel-card-image {
  display: block;
  width: 299px;
  height: 206px;
  margin-bottom: 16px;
}

.hotel-card-image:hover {
  opacity: 60%;
}

.hotel-card-image:focus {
  outline: 3px solid #83b3d3;
}

.hotel-card-image:active {
  opacity: 30%;
}

.hotel-card-link:focus {
  outline: 3px solid #83b3d3;
}

.hotels-card-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 16px;
}

.hotel-card-active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 16px;
}

.hotel-card-button {
  color: #ffffff;
  background-color: #83b3d3;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 141px;
}

.hotel-card-button:hover {
  background-color: #68a2ca;
  outline: 1px solid #756257;
}

.hotel-card-button:focus {
  outline: 3px solid #756257;
}

.hotel-card-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: 1px solid #756257;
}

.hotel-card-button-active {
  color: #ffffff;
  background-color: #7db54f;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hotel-card-button-active:hover {
  background-color: #6c9e42;
}

.hotel-card-button-active:focus {
  outline: 3px solid #756257;
}

.hotel-card-button-active:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;
  color: #000000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.hotel-card-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.hotel-card-link-more {
  color: #ffffff;
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 23px;
  border-radius: 4px;
  width: 87px;
}

.hotel-card-link-more:hover {
  background-color: #615048;
}

.hotel-card-link-more:focus {
  outline: 3px solid #83b3d3;
}

.hotel-card-link-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-description-hotel {
  width: 133px;
  margin: 0;
  margin-right: 25px;
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-description-price {
  width: 143px;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
}

.rating-area {
  margin: 0;
  color: #333333;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 32px;
  border-radius: 4px;
}

.catalog-hotels {
  padding: 0 72px;
}

.show-more {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.button-show-more {
  color: #ffffff;
  background-color: #83b3d3;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 17px 237px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-show-more:hover {
  background-color: #68a2ca;
}

.button-show-more:focus {
  outline: 3px solid #756257;
}

.button-show-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.field {
  margin: 0;
  padding: 17px 22px;
  font: inherit;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  border-radius: 10px 0 0 10px;
  width: 556px;
}

.field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px 0 0 10px;
}

.field:focus:invalid {
  border-color: #ff5757;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 27px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-bar-style {
  left: 0;
  width: 227px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  width: 287px;
  margin-top: 4px;
}

.catalog-filter-label {
  position: relative;
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
  width: 144px;
}

.range-label {
  position: absolute;
  top: 12px;
  right: 14px;
  display: flex;
}

.range-input-left {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 40px 11px 19px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #ffffff;
  -webkit-appearance: textfield;
  appearance: textfield;
  border-radius: 4px 0 0 4px;
  color: #ffffff;
  display: flex;
}

.range-input-right {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 40px 11px 19px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #ffffff;
  -webkit-appearance: textfield;
  appearance: textfield;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  margin-left: -2px;
}

.range-input-left:focus,
.range-input-right:focus {
  position: relative;
  z-index: 1;
  outline: none;
  box-shadow: inset 0 0 0 2px #81b3d2, 0 0 0 2px #81b3d2;
}

.range-input-left:focus-visible,
.range-input-right:focus-visible {
  background-color: #756257;
  position: relative;
  z-index: 0;
  outline: none;
  box-shadow: inset 0 0 0 -2px #ffffff, 0 0 0 -2px #ffffff;
}

.range-input-left::-webkit-outer-spin-button,
.range-input-left::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-input-right::-webkit-outer-spin-button,
.range-input-right::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  margin-bottom: 13px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-checkbox:checked + .control-mark {
  background-image: url("../images/tick/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  outline: 3px solid #83b3d3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-checkbox,
.control-radio {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.control-radio + .control-mark {
  border-radius: 50%;
}

.control-radio:checked + .control-mark {
  background-image: url("../images/tick/radio.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.select-control {
  width: 287px;
  height: 48px;
  padding: 11px 19px 13px;
  padding-right: 48px;
  font: inherit;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-image: url("../images/interface/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  -webkit-appearance: none;
  appearance: none;
  margin-left: auto;
}

.select-control:hover,
.select-control:focus {
  border-color: #83b3d3;
}

.select-control:focus {
  outline: 2px solid #83b3d3;
  outline-offset: -2px;
}

.select-control:active {
  color: rgba(51, 51, 51, 0.3);
}

.select-control-number {
  width: 160px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 54px 70px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 575px;
}

.modal-title-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.modal-close-button {
  padding: 0;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/interface/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-container-close {
  display: none;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 30%;
}

.modal-title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form-field {
  width: 345px;
  border-radius: 4px;
  padding: 12px 56px 12px 19px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-image: url("../images/interface/date.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  -webkit-appearance: none;
  appearance: none;
}

.search-form-field:focus {
  border-radius: 4px;
}

.search-form-field:focus-visible {
  background-color: #ffffff;
  outline: 2px solid #000000;
}

.modal-field-label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
}

.field-group-adult {
  width: 288px;
  margin: 0;
}

.field-group-kid {
  width: 230px;
  margin: 0;
}

.number-of-hotels {
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  text-align: left;
  margin: 0;
  margin-left: 51px;
  padding: 0;
  width: 160px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.number {
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  text-align: left;
  margin: 0;
  margin-left: 51px;
  padding: 0;
  width: 133px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.number-minus,
.number-plus {
  margin: 0 13px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  justify-content: center;
  border-radius: 4px;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
}

.number-plus-icon,
.number-minus-icon {
  display: flex;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: rgba(0, 0, 0, 0.3);
}

.number-minus:hover .number-minus-icon {
  fill: #000000;
}

.number-plus:hover .number-plus-icon {
  fill: #000000;
}

.number-minus:focus,
.number-plus:focus {
  outline: 3px solid #83b3d3;
}

.number-minus:active .number-minus-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.number-plus:active .number-plus-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.number-text {
  display: flex;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  font-size: 18px;
  height: 50px;
  padding: 0;
  background: #f2f2f2;
  outline: none;
  border: none;
  width: 31px;
  text-align: center;
}

.modal-button {
  width: 100%;
  border-radius: 10px;
}

.tooltip {
  position: absolute;
  margin-top: -1px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
  display: block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.tooltip-icon {
  width: 100%;
  fill: #ffffff;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #af7842;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 20px 18px 23px 22px;
  border-radius: 10px;
  width: 216px;
  position: absolute;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
  padding-right: 10px;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/interface/arrow-tooltip.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Чтобы увидеть сообщение валидности нужно удалить opacity:0 */
.invalid-text {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #ff5757;
  margin-left: 155px;
  margin-bottom: 14px;
  opacity: 0;
}

.field-invalid-text {
  margin-bottom: 2px;
}

/* Чтобы увидеть сообщение валидности нужно удалить opacity:0 */
.valid-text {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-left: 155px;
  margin-bottom: 14px;
  opacity: 0;
}

.field-valid-text {
  margin-bottom: 2px;
}
