@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-secondary {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

.page-header {
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-user {
  max-width: 310px;
  margin-left: auto;
  padding: 0;
}

.navigation-user .navigation-link-user {
  min-width: 19px;
  min-height: 19px;
}

.navigation-link {
  margin: 0 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-link-button {
  color: #ffffff;
  background-color: #756257;
  padding: 9px 34px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
}

.navigation-link-user {
  display: block;
  padding: 24px 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.sedona-description {
  padding-top: 63px;
  padding-bottom: 80px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.main-header {
  padding-top: 51px;
  padding-bottom: 82px;
  color: #333333;
  background-color: #ffffff;
  background-image: url("../images/background/bg-header.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.strong-title {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-title {
  margin-top: 31px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}

.reasons-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title,
.reasons-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.reasons-title {
  margin-top: 98px;
  margin-bottom: 30px;
}

.advantages-title {
  margin-top: 184px;
  margin-bottom: 20px;
}

.reasons-number,
.reasons-description,
.advantages-description {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.reasons-description {
  margin-top: 30px;
}

.advantages-item,
.reasons-item {
  width: 400px;
  min-height: 384px;
}

.reasons-item-city {
  display: flex;
}

.reasons-item:nth-child(-n + 2) {
  color: #ffffff;
  background-color: #83b3d3;
}

.reasons-item:nth-child(2n + 3),
.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.hotels {
  padding: 92px 0;
}

.hotels-title {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-description {
  margin: 29px 0 56px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter {
  padding: 94px 0;
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background/bg-newsletter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 29px 0 46px;
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.page-footer {
  display: flex;
  padding: 40px 72px 36px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.footer-social {
  width: 160px;
  margin-right: 8px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contact {
  text-align: center;
  margin-left: auto;
  width: 720px;
}

.logo_htmlacademy {
  margin-left: 53px;
  width: 115px;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.main-inner {
  color: #333333;
  background-color: #ffffff;
}

.catalog-header {
  padding: 35px 72px 83px;
  margin-bottom: 44px;
  color: #ffffff;
  background-image: url("../images/background/bg-catalog.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 45px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 26px;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog {
  margin: 0;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-info {
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}

.catalog-info-display {
  display: flex;
  margin-left: 81px;
}

.select-control {
  margin-left: auto;
}

.button-light {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
}

.hotel-card {
  margin: 0;
  padding: 0;
}

.hotel-card-title {
  margin: 0;
  color: #000000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.hotel-card-link {
  color: #ffffff;
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-card-description {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-button {
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-card-button-active {
  color: #ffffff;
  background-color: #7db54f;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.rating-area {
  margin: 0;
  color: #333333;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.button-show-more {
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.pagination-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 73px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 0;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.hotels-on-page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.hotels-on-page label {
  font-size: 18px;
  line-height: 23px;
}

.number {
  margin-left: 51px;
}

.pagination-current {
  color: #333333;
  background-color: #f2f2f2;
}

.newsletter-catalog {
  margin-bottom: 140px;
  color: #000000;
  background-color: #fff;
  text-align: center;
}

.newsletter-catalog-title {
  margin: 0 0 46px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-catalog-description {
  margin: 0 0 46px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.catalog-filter {
  display: flex;
}

.filter-button {
  display: flex;
  flex-direction: column;
  margin-left: 81px;
}

.filter-price {
  margin-left: 167px;
}

.filter-type-of-hotel {
  margin-left: 67px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
